@model BusinessAutomation_Project.Models.Entity.Department
<br />
<h2>Departman Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
	<label>Departman Adı</label>
	@Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
	<br/>
	<label>Durum</label>
	<div>
		@Html.RadioButtonFor(x => x.Status, true) <label>Aktif</label>
		@Html.RadioButtonFor(x => x.Status, false) <label>Pasif</label>
	</div>
	<button class="btn btn-info">Kaydet</button>
</form>