@using FormMethod = System.Web.Mvc.FormMethod
@using SelectListItem = System.Web.Mvc.SelectListItem

@model BusinessAutomation_Project.Models.Entity.Employee
<br/>  
<h2>Personel Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div class="form-group">
		@Html.HiddenFor(x => x.EmployeeId)
		<label>Ad</label>
		@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
		<br />
		<label>Soyad</label>
		@Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
		<br />
		<label>Departman</label>
		@Html.DropDownListFor(x =>x.Departmentid,(List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
		<br />
		<label>Görsel</label>
		<input type="file" name="Image" />
		@*@Html.TextBoxFor(x => x.Image, new { @class = "form-control" })*@
		<br />
		<button class="btn btn-primary">Güncelle</button>
	</div>
}